:root {
    --drawerLabelSize: 50px;
}

@media (min-width: 700px) {
    #corbinPlugindrawerButton {
        display: none !important;
        margin-left: 250px;
    }
}

#corbinPlugindrawerButton {
    --drawerBtnMargin: 5px;
    --actualLabelSize: calc(var(--drawerLabelSize) - (var(--drawerBtnMargin) * 2));
    height: var(--actualLabelSize);
    width: var(--actualLabelSize);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
    background-origin: content-box;
    border-radius: 5px;
    padding: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgAQMAAADYVuV7AAAABlBMVEUAAAAzMzPI8eYgAAAAAXRSTlMAQObYZgAAABxJREFUeAFjIBOMAv7/UPCBlhzywWgYjIbBKAAANijXKaI5RRgAAAAASUVORK5CYII=);
    margin: calc(var(--drawerBtnMargin) + 5px) var(--drawerBtnMargin);
    z-index: 1;
    transition: left 100ms ease-in-out;
}

#corbinPlugindrawerButton:hover {
    background-color: #e6e6e6;
}

#corbinPlugindrawerButton:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

#corbinPlugindrawerButton:active {
    top: 1px;
}

input.corbinPluginradioEl[type="radio"] {
    display: none;
}

input.corbinPluginradioEl[type="radio"] ~ #corbinPluginscrimEl {
    background: black;
    border: none;
    opacity: 0.0;
}

input.corbinPluginradioEl[type="radio"] ~ .client_channels_list_container {
    transition: margin-left 100ms ease-in-out;
}

input.corbinPluginradioEl[type="radio"][value="on"]:checked ~ .client_channels_list_container {
    margin-left: 0px !important;
}

@media (max-width: 700px) {

    .c-search_modal .popover > div {
        max-width: calc(100vw - 24px);
    }

    #client_header {
        margin-left: var(--drawerLabelSize);
    }

    .client_main_container {
        max-width: 100vw;
    }

    #client_header > .channel_header {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #client_header > .channel_header > .messages_header {
        flex-basis: calc(100vw - var(--drawerLabelSize));
        flex-shrink: 0;
    }

    #client_header > .channel_header::-webkit-scrollbar {
        height: 6px;
    }

    #client_header > .channel_header::-webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }

    #client_header > .channel_header::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 20px;
    }

    #search_container {
        min-width: 110px !important;
    }

    input.corbinPluginradioEl[type="radio"][value="on"]:checked ~ #corbinPluginscrimEl {
        opacity: 0.5 !important;
        z-index: 250 !important;
    }

    #corbinPlugindrawer:checked ~ #corbinPlugindrawerButton {
        left: 220px;
    }

    input.corbinPluginradioEl[type="radio"] ~ .client_channels_list_container {
        margin-left: -220px;
        z-index: 251;
    }

    input.corbinPluginradioEl[type="radio"] ~ #corbinPluginscrimEl {
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -99;
        transition: opacity 0.4s;
    }

    #col_messages {
        min-width: 0px;
    }

    #col_flex {
        flex-basis: calc(100vw) !important;
        z-index: 1;
    }
}
